<li nu="<%=md['nu']%>" class="orderInfo">
    <div>
        <span class="orderNu">[<%=md['comDetail'][2]%>] 单号：<span style="color: red;"><%=md['nu']%></span></span>
    </div>

    <div style="line-height: 22px;margin-top: 5px;">
        <div class="orderNewestState box">
            <div class="orange">最新状态：</div>
            <div class="boxFlex"><%=md['data'][0]['context']%></div>
        </div>
        <div class="boxFlex orderDescDetailContainer">
            <%for(var i=0;i<md['data'].length;i++){%>
            <div class="box orderDetail">
                <div class="orderDescTime"><%=md['data'][i]['time']%></div>
                <div class="boxFlex"><%=md['data'][i]['context']%></div>
            </div>
            <%}%>
            <div class="jiantou"></div>
        </div>
    </div>

    <img src="images/del.png" class="delNu"/>
    <img src="images/refresh.png" class="refreshNu"/>
</li>